{% extends 'base.html'%}
{%block titolo%}
	{{block.super}} | HOME
{%endblock titolo%}
{%block contenuti%}
<div class="row">
    <div class="col-8">
        <div class="card my-2">
            <div class="card-header">
              <h1>Verifica Django</h1>
            </div>
            <div class="card-body">
              <h1>Filippelli Alessandro</h1>
            </div>
            <div class="card-footer">
              <b>realizzata il 20/05/2020</b>
            </div>
        </div>
    </div>
  </div>
{%endblock contenuti%}